target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml
nbactions.xml

*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/

payara*/glassfish/domains/*/logs/
payara*/glassfish/domains/*/generated/
payara*/glassfish/domains/*/osgi-cache/
payara*/glassfish/domains/*/lib/databases/
**/generated/
**/osgi-cache/

*.jlink/
build/

# Por si usas Oracle XE embebido o exportas dumps locales
*.dmp
*.dbf
*.ctl
oradata/

# Evita subir contraseñas o configuraciones locales de conexión
*.env
application-local.properties
persistence-local.xml
glassfish-resources.local.xml
src/main/resources/local/

.DS_Store
Thumbs.db
Desktop.ini